# Default ignored files
/../../Udemy_CompleteWebDevelopmentCourse /.idea/shelf/
/../../Udemy_CompleteWebDevelopmentCourse /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Udemy_CompleteWebDevelopmentCourse /.idea/httpRequests/
# Datasource local storage ignored files
/../../Udemy_CompleteWebDevelopmentCourse /.idea/dataSources/
/../../Udemy_CompleteWebDevelopmentCourse /.idea/dataSources.local.xml
